.cart-item {
    margin-inline: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f2f2f2;
    padding-top: 15px;
}

.cart-item-name {
    font-weight: lighter;
    color: #959595;
    word-wrap: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.cart-item-image {
    width: 150px
}

.cart-list-image {
    width: 100%;
}

.quantity-btn {
    border: 1px solid #f2f2f2;
    padding: 3px 8px;
    font-weight: 600;
    cursor: pointer;
}

.quantity-value {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding: 3px 8px;
    font-weight: lighter;
}

.cart-item-remove {
    color: #000;
    font-size: 14px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    cursor: pointer;
    width: fit-content;
    text-transform: uppercase;
}

.continue-shopping {
    width: fit-content;
    margin-inline: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart-total {
    text-align: center;
    color: #959595;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 20px;
}

.cart-icon {
    height: 20px;
    margin-left: 15px;
}

.cart-body {
    margin-top: 10px;
    margin-right: 30px;
    cursor: pointer;
}

.cart-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: #000;
    opacity: 0.5;
}

.cart-container {
    position: absolute;
    background-color: #fff;
    width: 420px;
    height: 100vh;
    right: 0;
    top: 0;
    overflow-y: scroll;
}

.selected-btn {
    background: #000;
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
}

.not-selected-btn {
    background: #fff;
    border: solid 1px #000;
    padding: 10px 25px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .cart-container {
        width: 100%;
    }
}