.inventory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 1rem;
}

.product-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.add-button{
    width: 75%;
    color:white;
    background-color: red;
    border: none;
}

.inventory-image {
  height: 100vh;
  width: 100vh;
  object-fit: cover
}

@media (max-width: 767px) {
  .product-list-container {
    display: flex;
    flex-direction: column;
  }
  .add-button{
    width: 90%;
}
}
@media (min-width: 768px) and (max-width: 1079px) {
  .product-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1080px) and (max-width: 1440px){
    .add-button{
        width: 90%;
    }
}
