.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://wallpapercave.com/wp/wp4020962.jpg');
    background-size: cover;
    background-position: center;
    background-color: black;
    display: flex; 
    flex-direction: column; 
    align-items: center;
  }
  
  .login-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 400px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .login-h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .login-input {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
  }
  
  .login-input input[type='email'],
  .login-input input[type='password'] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
   .signup-button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  } 

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .field-error {
    border: 1px solid red;
  }