.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://wallpapercave.com/wp/wp4020962.jpg');
    background-size: cover;
    background-position: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .signup-parent_sect {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .signup-form-group label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
    width: 150px;
    clear: left;
    text-align: right;
    padding-right: 10px;
    font-weight: normal;
  }
  
  .signup-form-group input,
  .signup-form-group select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    float: left;
  }
  
  .signup-form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .white-line {
    width: 100%;
    height: 1px;
    display: inline-block;
    background: white;
    margin-bottom: 10px;
  }
  
  .signup-error-message {
    color: red;
    font-size: 12px;
    display: inline-block;
  }
  
  
  .login-button {
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }

  .change-password-button{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    max-width: fit-content;
  }
  
  @media (max-width: 768px) {
    .signup-parent_sect {
      padding: 20px;
    }
  
    .signup-form-group {
      grid-template-columns: 1fr;
      padding: 0;
    }
  
    .signup-form-group-label {
      text-align: left;
    }
  
    .signup-form-group input,
    .signup-form-group select {
      width: 100%;
    }
  
    .signup-form-row {
      flex-wrap: wrap;
    }
  
    .signup-button {
      width: 100%;
    }
  }
  