.wishlist-container {
    padding-top: 100px;
    min-height: 70vh;
}

.wishlist-header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #e71836;
    margin-inline: 10%;
}

.wishlist-header-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.wishlist-header-subtitle {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #959595;
}

.wishlist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 5%;
    padding-inline: 10%;
}

.wishlist-item {
    margin-inline: 15px;
    padding-bottom: 15px;
    padding-top: 5%;
    min-width: 40%;
}

.wishlist-item-name {
    font-weight: lighter;
    color: #959595;
    word-wrap: normal;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.wishlist-item-image {
    width: 250px;
    height: 250px;
}

.wishlist-list-image {
    /* width: 100%; */
    height: 100%;
}

.quantity-btn {
    border: 1px solid #f2f2f2;
    padding: 3px 8px;
    font-weight: 600;
    cursor: pointer;
}

.quantity-value {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding: 3px 8px;
    font-weight: lighter;
}

.wishlist-item-remove {
    color: #e71836;
    margin-left: 20px;
    font-size: 24px;
    cursor: pointer;
    align-self: center;
}

.continue-shopping {
    width: fit-content;
    margin-inline: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wishlist-total {
    text-align: center;
    color: #959595;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 20px;
}

.wishlist-icon {
    height: 20px;
    margin-left: 15px;
}

.wishlist-body {
    margin-top: 10px;
    margin-right: 30px;
    cursor: pointer;
}

.wishlist-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: #000;
    opacity: 0.5;
}

.wishlist-selected-btn {
    background: #000;
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
    width: fit-content;
    margin-inline: auto;
    margin-top: 20px;
}

.wishlist-out-of-stock {
    background: #fff;
    color: #e71836;
    padding: 10px 25px;
    cursor: pointer;
    width: fit-content;
    margin-inline: auto;
    margin-top: 20px;
}